<header>
  <nav class="navbar navbar-inverse bkgd-white" style="border-radius: 0; margin-bottom: 0;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand bold text-green" href="/">HNG 2017 Interns</a>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar-right">
          <li class="active pointer"><a routerLink="/interns">INTERNS <span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>