<main class="container">
  <div class="row text-center" *ngIf='interns && interns.length'>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-3 col-sm-3 col-xs-12 pointer" style="margin-top: 1.5em;" *ngFor='let intern of interns'>
        <div class="smallborder card-box-shadow default-radius">
          <img src='./assets/img/{{intern.image}}' [alt]='intern.name' [title]='intern.name | uppercase' />
          <div class="bkgd-green" style="padding: 3px;">
            <h1 class="large text-white bold">{{intern.name}}</h1>
            <p class="small italic text-white bold" style="margin-bottom: 0px;">{{intern.skill}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>