<div class="relative">
  <!--<div class="jumbotron" style="height: 75vh"></div>-->
  <div class="jumbotron text-center flex-container bkgd-very-blue">
      <div>
        <img src="../assets/img/3.png" alt="" class="img-responsive center-block">
        <h1 class="text-white">{{title}}</h1>
        <!--<a routerLink="/interns" class="btn btn-success" style="margin-top: 5em;">CHECK THEM OUT</a>-->
      </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 flex-container bkgd-white" style="height: 50vh;">
    <div class="text-center">
      <h2 class="uppercase">Official casual platform for the 2017 HNG Intern-alumni</h2>
      <p class="large">The internship might have ended but the frienndship forged during it's course doesn't have to end as well.</p>
      <a routerLink="/interns" class="btn btn-success" style="margin-top: 5em;">CHECK THEM OUT</a>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 bkgd-grey flex-container" style="padding: 30px 0; height: 50vh;">
    <div class="col-md-5 col-sm-5 col-xs-12">
      <img src="../assets/img/w.png" alt="" class="img-responsive feature-img pull-right">
    </div>
    <div class="col-md-7 col-md-offset-1 col-sm-offset-1 col-sm-7 col-xs-12 flex-container-left">
      <h2 class="text-left">Staying friends<br>and learning together<br>thereby improvong each other's<br>skill and ability</h2>
    </div>    
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 flex-container bkgd-white" style="padding: 30px 0; height: 50vh;">
    <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-3 col-sm-push-4">
      <img src="../assets/img/x.png" alt="" class="img-responsive feature-img pull-right">
    </div>
    <div class="col-md-7 col-sm-7 col-xs-12 flex-container-left col-md-pull-3 col-sm-pull-3">
      <h2 class="text-right">Keeping in<br>constant communication,<br>a key ingredient that fosters<br>group bindng</h2>
    </div>    
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 bkgd-grey flex-container" style="padding: 30px 0; height: 50vh;">
    <div class="col-md-5 col-sm-5 col-xs-12">
      <img src="../assets/img/y.png" alt="" class="img-responsive feature-img pull-right">
    </div>
    <div class="col-md-7 col-sm-7 col-xs-12 flex-container-left col-md-offset-1 col-sm-offset-1">
      <h2 class="text-left">Continued teamwork<br>like someone to advice <a href='http://localhost:4200/intern/Okoye%20Chidi%20Bartholomew'>OkoyeB</a><br>that EFCC will pay more for his<br>peculiar skill</h2>
    </div>    
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 flex-container bkgd-white" style="padding: 30px 0; height: 50vh;">
    <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-3 col-sm-push-4">
      <img src="../assets/img/z.png" alt="" class="img-responsive feature-img pull-right">
    </div>
    <div class="col-md-7 col-sm-7 col-xs-12 flex-container-left col-md-pull-3 col-sm-pull-3">
      <h2 class="text-right">A most importantly<br>making important memories<br>and footprints</h2>
    </div>    
  </div>
</div>